@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
:root {
  --dark-green: #58af6e;
  --light-green: #F0E6D2;
  --text-color: #383838;
  --primary-color: #f7d413;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

header {
  background-color: var(--primary-color);
  z-index: 999;
}

#photo {
  width: 100vw;
  height: 80vh;
  position: relative;
  top: 20px;
  background-image: url("images/dr-jessica-nadine-ft-ampla.webp");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: initial;
  z-index: -999;
}

#principal {
  min-height: 50vh;
  display: flex;
  align-items: initial;
  justify-content: initial;
  flex-direction: column;
  border: 3px solid #000;
  border-radius: 20px 20px 0 0;
  padding: 0;
  position: relative;
  background-color: var(--light-green);
}
#principal h1 {
  position: relative;
  top: -80px;
  font-size: 60px;
  color: var(--primary-color);
  text-shadow: 3px 1px 0px #000;
}
#principal br {
  margin: 10px;
}
#principal #content {
  width: 100%;
  margin: 0;
  padding: 80px;
  padding-top: 0;
  text-align: justify;
}
#principal #content strong {
  background-color: var(--primary-color);
}
#principal #content cite {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  border-width: 0px 0 0 5px;
  border-style: solid;
  border-color: var(--primary-color);
}
#principal #content p:last-child {
  font-weight: bolder;
}
#principal #content #schedule {
  height: 50px;
  width: 200px;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  font-size: 20px;
  font-family: "Sora", serif;
  font-weight: 500;
  border: 0px solid;
  border-radius: 10px;
  background-color: var(--dark-green);
  color: #fff;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
#principal #content #schedule:hover {
  transform: perspective(8deg);
  all: 0.5s;
}
#principal #content #schedule-area {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 999;
}
#principal #content #schedule-area #schedule-popup {
  width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #237bff;
  border: 3px solid #000;
  border-radius: 20px;
}
#principal #content #schedule-area #schedule-popup h1 {
  position: inherit;
  font-size: 30px;
  color: #fff;
  text-shadow: none;
}
#principal #content #schedule-area #schedule-popup form {
  min-height: 75%;
  max-height: 95%;
  margin-top: 20px;
  padding: 20px;
  text-align: initial;
  background-color: #78aeff;
  border: 0px solid;
  border-radius: 20px;
}
#principal #content #schedule-area #schedule-popup form input {
  height: 40px;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 5px;
  border-style: none;
  border-radius: 10px;
  outline: #f7d413;
  font-size: 15px;
  font-family: "Sora", serif;
}
#principal #content #schedule-area #schedule-popup #action-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  box-sizing: border-box;
}
#principal #content #schedule-area #schedule-popup #action-buttons button {
  height: 50px;
  width: 140px;
  margin: 20px 10px;
  font-size: 18px;
  font-family: "Sora", serif;
  font-weight: bolder;
  border: 0px solid;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}
#principal #content #schedule-area #schedule-popup #action-buttons #cancel {
  background-color: #ff2b2b;
}
#principal #content #schedule-area #schedule-popup #action-buttons #send {
  background-color: #58af6e;
}
#principal #content #schedule-area #maintenance-popup {
  width: 300px;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid red;
}
#principal #content #schedule-area #maintenance-popup h1 {
  font-size: 20px;
}

@media screen and (max-width: 960px) {
  header nav {
    background-color: #f7d413;
  }
  #principal #content {
    padding: 30px;
    padding-top: 0;
    text-align: initial;
  }
  #principal #content cite {
    height: 200px;
    text-align: initial;
    margin: 20px 40px;
  }
  #principal #content #schedule-area #schedule-popup {
    width: 350px;
  }
  #principal #content #schedule-area #schedule-popup h1 {
    font-size: 20px;
  }
  #principal #content #schedule-area #schedule-popup form {
    width: 90%;
  }
  #principal #content #schedule-area #schedule-popup form input {
    width: 100%;
  }
}/*# sourceMappingURL=about.css.map */